// Premium Corporate Layout
.stars {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  top: 0;
  left: 0;
}

.app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.main-content {
  flex: 1 0 auto;
  padding: 0;
  width: 100%;
  margin-top: 100px; // space for fixed navbar
}

app-footer {
  flex-shrink: 0;
}
